body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

.underline-example {
    text-decoration: underline;
    text-decoration-color: red; /* Цвет подчеркивания */
}

.line-through-example {
    text-decoration: line-through;
    text-decoration-style: dashed; /* Стиль зачеркивания */
    text-decoration-color: green; /* Цвет зачеркивания */
}

.overline-example {
    text-decoration: overline;
    text-decoration-color: blue; /* Цвет надчеркивания */
}

.combined-example {
    text-decoration: underline line-through;
    text-decoration-color: purple; /* Цвет комбинированного оформления */
    text-decoration-style: wavy; /* Стиль комбинированного оформления */
}
